/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.bottomdis {
    margin-bottom:0.9rem!important;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    background: url("../content/static/background.jpeg");
}
.footer {
  position: absolute;
  width: 100%;
  white-space: nowrap;
  margin-top: 13%;
  /*line-height: 60px;*/ /* Vertically center the text there */
}




/* Footer */

.w3ls-fsocial {
    /*padding: 2em 0;
    border-top: 1px solid #edeff1;
    border-bottom: 1px solid #edeff1;*/
    margin: 3px 0 0 0;
    text-align: center;
}

h3.sub-w3ls-headf {
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: .7em;
    line-height: 30px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
}

.social-ficons ul {
    padding: 0;
    margin: 0;
}

.social-ficons ul li {
    display: inline-block;
    margin: 0 1em;
}

.social-ficons ul li a {
    color: #333;
    text-align: center;
    font-size: 15px;
}

.social-ficons ul li a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: transparent;
    color: #3b5998;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    /*-ms-transition: 0.5s all;*/
}

.social-ficons ul li a span {
    margin: 0 0.5em;
}

.social-ficons ul li a.facebook {
    color: #3b5998;
}

.social-ficons ul li a.twitter {
    color: #1da1f2;
}

.social-ficons ul li a.google {
    color: #ea4335;
}
/* //Footer */

.tipuscontent{

}

.search {
    width: 50%;
    position: relative;
    display: flex;
    margin-left: 25%;
    margin-top: -5%;
}

.searchTerm {
    width: 100%;
    border: 2px solid #ec1c24;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #ec1c24;
    /*margin-left:30%;*/
}

    .searchTerm:focus {
        color: #00B4CC;
    }

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #ec1c24;
    background: #ec1c24;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    /*margin-right:30%;*/
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* //Navbar */


/* Submit button tipus*/
.example_d {
    color: white !important;
    font-size: 20px;
    background: #ec1c24;
    padding: 6px;
    border: 3px solid #ec1c24 !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    width:60%;
}
.example_d:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
}

.form-control{
    border: 1px solid darkgrey;
}
/* //Submit button tipus*/



/* Phones pages*/

linebottom {
    border-bottom: 3px solid #1C6EA4;
}

.specbackground {
    background-color: #f1f1f1;
}

.spectrum {
    background: linear-gradient( to left, rgb(74, 182, 253), transparent);
    background-blend-mode: screen;
    margin-bottom: 20px;
}

.spectrumHuawei {
    background: linear-gradient( to left, rgb(255, 215, 155), transparent);
    background-blend-mode: screen;
    margin-bottom: 20px;
}

.spectrumS20 {
    background: linear-gradient( to left, rgb(78, 78, 78), transparent);
    background-blend-mode: screen;
    margin-bottom: 20px;
}

.spectrumIphone11 {
    background: linear-gradient( to left, rgb(65, 202, 150), transparent);
    background-blend-mode: screen;
    margin-bottom: 20px;
}

.spectrumLgV60 {
    background: linear-gradient( to left, rgb(190, 139, 28), transparent);
    background-blend-mode: screen;
    margin-bottom: 20px;
}

.spectrum1 {
    background: linear-gradient(to top left, red, transparent), linear-gradient(to top right, green, transparent), linear-gradient(to bottom left, black, transparent), linear-gradient(to bottom right, blue, transparent);
    background-blend-mode: screen;
}



/* general specs phone*/

.iconspace1{
    margin-right:20%;
}
.iconspace2 {
    margin-left: 17%;
}
.iconspace3 {
    margin-left: 16%;
}
.iconspace3 {
    margin-left: 16%;
}

.pagesbutton1 {
    color:white;
    margin-left:49%;
    margin-top:2%;
    font-size:25px;
}
.pagesbutton2 {
    color: white;
    margin-left: 8%;
    margin-top: 2%;
    font-size: 25px;
}


/* //general specs phone*/





/* //Phones pages*/



