@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<section>
    <div class="row d-flex justify-content-center col-12">
        <div class="col-sm-10 col-md-6 col-lg-4 rounded m-24">
            <form id="account" method="post" class="py-5">
                <div class="d-flex justify-content-center">
                    <i class="fa fa-user-circle-o" style="font-size:48px;color:#ec1c24"></i>
                </div>
                <div class="d-flex justify-content-center">
                    <h1 class="h3 mb-3 font-weight-normal">Join us!</h1>
                </div>
                <div class="col-md-12">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Input.UserName" class="form-control" placeholder="User Name" />
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm password" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-success btn-block">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


<style>
    .form-control:focus {
        border-color: #a72828 !important;
        box-shadow: 0 0 2px rgba(187, 28, 36, 1) !important;
    }

    .btn-success {
        color: #fff;
        background-color: #ec1c24;
        border-color: #ec1c24;
    }


    a:hover {
        opacity: 0.5;
    }

    .btn-success:hover {
        color: #fff;
        background-color: #882121;
        border-color: #c73a18;
    }
</style>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
