@{
    ViewData["Title"] = "Home";
}


<div>
    <div id="page" class="page">
        <!-- Main body -->
        <div class="main-body">
            <!--/gallery -->
            <section class="banner-bottom py-5">
                <div class="container py-md-5">
                    <!-- //nav -->
                    <div class="search-form ml-auto">
                        <div class="form-w3layouts-grid">
                            <form action="#" method="post" class="newsletter editContent" style="outline: none; cursor: inherit;">
                                <input class="search editContent" type="search" placeholder="Search here..." required="" style="outline: none; cursor: inherit;">
                                <button class="form-control btn" value="" style="outline: none; cursor: inherit;"><span class="fa fa-search" style="outline: none; cursor: inherit;"></span></button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="container py-md-5">
                    <div class="row">
                        <div class="col-sm-12 gallery-content">
                            <div class="row">

                                <div class="col-md-4 col-sm-6 gal-img">
                                    <a href="Note10+.html"><img src="~/content/static/g1.jpg" alt="Phone" class="img-fluid mt-4"></a>
                                </div>
                                <div class="col-md-4 col-sm-6 gal-img">
                                    <a href="Iphone11Pro.html"><img src="~/content/static/Iphone11pro (6).jpg" alt="Phone" class="img-fluid mt-4"></a>
                                </div>
                                <div class="col-md-4 col-sm-6 gal-img">
                                    <a href="Huawei P40 Pro.html"><img src="~/content/static/Huawei P40 Pro (1).jpg" alt="Phone" class="img-fluid mt-4" style="outline: none; cursor: inherit; width: 290px;"></a>
                                </div>
                                <div class="col-md-4 col-sm-6 gal-img">
                                    <a href="S20ultra.html"><img src="~/content/static/S20Ultra (1).jpg" alt="Phone" class="img-fluid mt-4"></a>
                                </div>
                                <div class="col-md-4 col-sm-6 gal-img">
                                    <a href="Iphone11.html"><img src="~/content/static/Iphone11 (1).jpg" alt="Phone" class="img-fluid mt-4"></a>
                                </div>
                                <div class="col-md-4 col-sm-6 gal-img">
                                    <a href="LgV60.html"><img src="~/content/static/LgV60 (1).jpg" alt="Phone" class="img-fluid mt-4" style="outline: none; cursor: inherit; width: 250px;"></a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <!-- //gallery-->
        </div>
        <!-- /Main body -->

    </div>
    <!-- /#page -->
    <!-- Font-Awesome-Icons-CSS -->
</div>
