@model PhoneInfo.Models.SearchViewModel

@{
    ViewData["Title"] = "Home";
}


<form asp-action="Index" asp-controller="Home" method="post">
    <div>
        <div id="page" class="page">
            <!-- Main body -->
            <div class="main-body">
                <!--/gallery -->
                <section class="banner-bottom py-5">

                    <div class="search">
                        <input asp-for="Search" class="searchTerm" placeholder="What are you looking for?" id="searchbox">
                        <button type="submit" class="searchButton" @*onclick="document.getElementById('searchbox').value = null"*@>
                            <i class="fa fa-search"></i>
                        </button>
                    </div>

                    <div class="container py-md-5">
                        <div class="row">
                            <div class="col-sm-12 gallery-content">
                                <div class="row">

                                    <div class="col-md-4 col-sm-6 gal-img">
                                        <a asp-controller="Phones" asp-action="samsungnote10"><img src="~/content/static/g1.png" alt="Phone" class="img-fluid mt-4"></a>
                                    </div>
                                    <div class="col-md-4 col-sm-6 gal-img">
                                        <a asp-controller="Phones" asp-action="Iphone11Pro"><img src="~/content/static/Iphone11pro (6).png" alt="Phone" class="img-fluid mt-4"></a>
                                    </div>
                                    <div class="col-md-4 col-sm-6 gal-img">
                                        <a asp-controller="Phones" asp-action="HuaweiP40Pro"><img src="~/content/static/Huawei P40 Pro (1).png" alt="Phone" class="img-fluid mt-4" style="outline: none; cursor: inherit; width: 290px;"></a>
                                    </div>
                                    <div class="col-md-4 col-sm-6 gal-img">
                                        <a asp-controller="Phones" asp-action="samsungs20ultra"><img src="~/content/static/S20Ultra (1).png" alt="Phone" class="img-fluid mt-4"></a>
                                    </div>
                                    <div class="col-md-4 col-sm-6 gal-img">
                                        <a asp-controller="Phones" asp-action="Iphone11"><img src="~/content/static/Iphone11 (1).png" alt="Phone" class="img-fluid mt-4" style="height:360px"></a>
                                    </div>
                                    <div class="col-md-4 col-sm-6 gal-img">
                                        <a asp-controller="Phones" asp-action="LgV60"><img src="~/content/static/LgV60 (1).png" alt="Phone" class="img-fluid mt-4" style="outline: none; cursor: inherit; width: 250px;"></a>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </section>
                <!-- //gallery-->
            </div>
            <!-- /Main body -->

        </div>
        <!-- /#page -->
        <!-- Font-Awesome-Icons-CSS -->
    </div>
</form>